[submodule "exp/COUNT/SPP-DCJ-reconstruction/spp_dcj_v2"]
	path = exp/COUNT/SPP-DCJ-reconstruction/spp_dcj_v2
    url = git@github.com:marschall-lab/spp_dcj_v2.git
    branch = genetree-free2
[submodule "bin/spp_dcj"]
	path = bin/spp_dcj
	url = git@github.com:danydoerr/spp_dcj.git
    branch = genetree-free2
